body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; /* Warna putih untuk kontras */
    border-radius: 10px; /* Membuat sudut melengkung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Memberikan efek bayangan */
}

.header {
    background-color: rgb(34, 118, 202);
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #90caf9;
    border-radius: 5px;
}


.abouts {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #444;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f0f0f0;
}